### Series
Она представляет из себя объект, похожий на одномерный массив, но отличительной чертой является наличие индексов. Индекс находится слева, а сам элемент справа.

Синтаксис создания:

pandas.Series(input_data, index, data_type)

input_data: ввод в виде списка, константы, массива NumPy, Dict и т. д.

index: значения индексов.

data_type (опционально): тип данных.

In [2]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [ ]:
a = pd.Series([4, 7, 6, 3, 9],
              index=['one', 'two', 'three', 'four', 'five'])
a

In [ ]:
a.index
RangeIndex(start=0, stop=5, step=1)
a.values
array([4, 7, 6, 3, 9])
a[0]

a[1]

### DataFrame
Объект DataFrame является табличной структурой данных. В любой таблице всегда присутствуют строки и столбцы. При этом в столбцах можно хранить данные разных типов данных. Столбцами в объекте DataFrame выступают объекты Series, строки которых являются их элементами.

Синтаксис создания:

pandas.DataFrame(input_data, index)

input_data: ввод в виде Dict, 2D массива NumPy, Series и т. д.

index: значения индексов.

In [1]:
df = pd.DataFrame({
    'Age': [46, 37, 44, 42, 42],
    'Country': ['Spain', 'Spain', 'Germany', 'Germany', 'France'],
    'Gender': ['Female', 'Female', 'Male', 'Male', 'Male']
})

df

NameError: name 'pd' is not defined

In [ ]:
df['Age']

df.Country

df[['Country', 'Age']]

df.columns

df.index

In [ ]:
df = pd.read_csv('./Churn_Modelling.csv')

In [ ]:
sep = #разделитель шапки ","

In [ ]:
df.head() =#5 элемегнтов сверху
df.tail() # 5 строк с конца
#можно указывать кличество строк в скобках

df.sample() #случайная строка

df.sample(frac=1) # перемешивание таблицы
df.sample(frac=0.5) #половина таблицы
df.shape #кол-во строк и столбиков

### Первичный анализ данных

Типы данных:

int: целочисленные значения. Пример: 9, 56, 30

float: вещественные значения (с плавающей точкой). Пример: 7.3, 9.0, 45.334


object/str: строковые значения. Пример: ‘hello, world’, ‘50 000’

##### df.info()

Выводятся значения:

Count - количество непропущенных объектов (там, где нет nan значений)

- mean - арифметическое среднее
- std - стандартное отклонение
- min - минимальное значение
- 25% - квантиль 25 процентов
- 50% - квантиль 50 процентов или же медиана
-75% - квантиль 75 процентов
- max - максимальное значение

In [ ]:
df.describe() #основная сводная статистика

In [ ]:
df.describe(include=['object']) # строковые значения

df.dtypes #типы данных

In [ ]:
df.dtype #
df['Age'].dtype
dtype('int64')
df['HasCrCard'].astype('bool')
0        True
1       False
2        True
3       False
4        True
        ...  
9995     True
9996     True
9997    False
9998     True
9999     True
Name: HasCrCard, Length: 10000, dtype: bool
df['HasCrCard'].dtype
dtype('int64')
df['HasCrCard'] = df['HasCrCard'].astype('bool')
df['HasCrCard'].dtype
dtype('bool')

In [ ]:
df['Geography'].unique()
array(['France', 'Spain', 'Germany'], dtype=object)
df['Geography'].nunique()
3
df['Geography'].value_counts()
France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64
df['Geography'].value_counts(normalize=True)
France     0.5014
Germany    0.2509
Spain      0.2477
Name: Geography, dtype: float64

### Фильтрация

Фильтрация в pandas основывается на булевых масках.

Булевая маска — бинарные данные, которые используются для выбора определенных объектов из структуры данных.

In [ ]:
df['Gender'] == 'Male'
0       False
1       False
2       False
3       False
4       False
        ...  
9995     True
9996     True
9997    False
9998     True
9999    False
Name: Gender, Length: 10000, dtype: bool



male = df[df['Gender'] == 'Male']
male
RowNumber	CustomerId	Surname	CreditScore	Geography	Gender	Age	Tenure	Balance	NumOfProducts	HasCrCard	IsActiveMember	EstimatedSalary	Exited
5	6	15574012	Chu	645	Spain	Male	44	8	113755.78	2	True	0	149756.71	1
6	7	15592531	Bartlett	822	France	Male	50	7	0.00	2	True	1	10062.80	0
8	9	15792365	He	501	France	Male	44	4	142051.07	2	False	1	74940.50	0
9	10	15592389	H?	684	France	Male	27	2	134603.88	1	True	1	71725.73	0
10	11	15767821	Bearce	528	France	Male	31	6	102016.72	2	False	0	80181.12	0
...	...	...	...	...	...	...	...	...	...	...	...	...	...	...
9992	9993	15657105	Chukwualuka	726	Spain	Male	36	2	0.00	1	True	0	195192.40	0
9993	9994	15569266	Rahman	644	France	Male	28	7	155060.41	1	True	0	29179.52	0
9995	9996	15606229	Obijiaku	771	France	Male	39	5	0.00	2	True	0	96270.64	0
9996	9997	15569892	Johnstone	516	France	Male	35	10	57369.61	1	True	1	101699.77	0
9998	9999	15682355	Sabbatini	772	Germany	Male	42	3	75075.31	2	True	0	92888.52	1
5457 rows × 14 columns

### Логические И

При операторе & нужно, чтобы выполнялось два условия одновременно:

In [ ]:
df[(df['Gender'] == 'Female') & (df['NumOfProducts'] >= 3)]
RowNumber	CustomerId	Surname	CreditScore	Geography	Gender	Age	Tenure	Balance	NumOfProducts	HasCrCard	IsActiveMember	EstimatedSalary	Exited
2	3	15619304	Onio	502	France	Female	42	8	159660.80	3	True	0	113931.57	1
7	8	15656148	Obinna	376	Germany	Female	29	4	115046.74	4	True	0	119346.88	1
30	31	15589475	Azikiwe	591	Spain	Female	39	3	0.00	3	True	0	140469.38	1
88	89	15622897	Sharpe	646	France	Female	46	4	0.00	3	True	0	93251.42	1
90	91	15757535	Heap	647	Spain	Female	44	5	0.00	3	True	1	174205.22	1
...	...	...	...	...	...	...	...	...	...	...	...	...	...	...
9565	9566	15752294	Long	582	France	Female	38	9	135979.01	4	True	1	76582.95	1
9747	9748	15775761	Iweobiegbunam	610	Germany	Female	69	5	86038.21	3	False	0	192743.06	1
9800	9801	15640507	Li	762	Spain	Female	35	3	119349.69	3	True	1	47114.18	1
9877	9878	15572182	Onwuamaeze	505	Germany	Female	33	3	106506.77	3	True	0	45445.78	1
9895	9896	15796764	Bruno	684	Germany	Female	56	3	127585.98	3	True	1	80593.49	1
187 rows × 14 columns

### Логические ИЛИ
При операторе | нужно, чтобы выполнялось хотя бы одно условие:

In [ ]:
df[(df['HasCrCard']) | (df['NumOfProducts'] >= 3)]
RowNumber	CustomerId	Surname	CreditScore	Geography	Gender	Age	Tenure	Balance	NumOfProducts	HasCrCard	IsActiveMember	EstimatedSalary	Exited
0	1	15634602	Hargrave	619	France	Female	42	2	0.00	1	True	1	101348.88	1
2	3	15619304	Onio	502	France	Female	42	8	159660.80	3	True	0	113931.57	1
4	5	15737888	Mitchell	850	Spain	Female	43	2	125510.82	1	True	1	79084.10	0
5	6	15574012	Chu	645	Spain	Male	44	8	113755.78	2	True	0	149756.71	1
6	7	15592531	Bartlett	822	France	Male	50	7	0.00	2	True	1	10062.80	0
...	...	...	...	...	...	...	...	...	...	...	...	...	...	...
9993	9994	15569266	Rahman	644	France	Male	28	7	155060.41	1	True	0	29179.52	0
9995	9996	15606229	Obijiaku	771	France	Male	39	5	0.00	2	True	0	96270.64	0
9996	9997	15569892	Johnstone	516	France	Male	35	10	57369.61	1	True	1	101699.77	0
9998	9999	15682355	Sabbatini	772	Germany	Male	42	3	75075.31	2	True	0	92888.52	1
9999	10000	15628319	Walker	792	France	Female	28	4	130142.79	1	True	0	38190.78	0
7150 rows × 14 columns

Логические НЕ

При операторе ~ булевая маска обращается: True меняется на False и наоборот:

df[~(df['Geography'] == 'Spain')]

df[df['Geography'].isin(['France', 'Germany'])]

### Индексация

In [ ]:
df_small.loc[1]

df_small.loc[[1, 4, 5], ['Gender', 'Age']] #строки и возраст

df_small.iloc[0, [0, 2]] #по порядку

Сортировки

In [ ]:
df.sort_values('Age')

df.sort_values('Age', ascending=False)

df.sort_values(['Age', 'CreditScore'])