### Task 4.  Анализ рынка недвижимости - 2

1. Сколько в среднем стоят дома, у которых 2 спальни?
2. Какая в среднем общая площадь домов(sqft_lot), у которых стоимость больше 600000?
3. Как много домов коснулся ремонт? Как много домов не было отремонтировано? Используйте поле yr_renovated. Подсчитайте процентное отношение этих величин.
4. Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [1]:
import pandas as ps

In [2]:
df = ps.read_csv('kc_house_data.csv',encoding='cp1251')

In [3]:
df.head(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.0,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650

In [4]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

In [8]:
df[df['price'] > 60000]['sqft_lot'].mean()

15106.967565816869

In [9]:
df[(df['yr_renovated'] != 0)].shape

(914, 21)

In [13]:
p10 = df[df['grade'] > 10] ['price'].mean()
p10

1678635.1175298805

In [14]:
p4 = df[df['grade'] < 4] ['price'].mean()
p4

189750.0

In [15]:
p10 - p4 #вычитание цен для вычисления разницы

1488885.1175298805